<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=400, initial-scale=0.5" />
	<meta content="telephone=no" name="format-detection" />
	<title>Email Template</title>
	

	<style type="text/css" media="screen">
		/* Linked Styles */
		body { padding:0 !important; margin:0 !important; display:block !important; background:#ededed; -webkit-text-size-adjust:none }
		a { color:#2b9208; text-decoration:underline }
		.footer a { color: #8ec8de; text-decoration: underline; }

		/* Campaign Monitor wraps the text in editor in paragraphs. In order to preserve design spacing we remove the padding/margin */
		p { padding:0 !important; margin:0 !important } 
	</style>
</head>
<body class="body" style="padding:0 !important; margin:0 !important; display:block !important; background:#ededed; -webkit-text-size-adjust:none">

<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ededed">
	<tr>
		<td align="center" valign="top">
			<table width="624" border="0" cellspacing="0" cellpadding="0">
				<!-- Top -->
				<tr>
					<td class="top" style="color:#4a5461; font-family:Verdana; font-size:11px; line-height:15px; text-align:center">
						<div style="font-size:0pt; line-height:0pt; height:20px"><img src="images/empty.gif" width="1" height="20" style="height:20px" alt="" /></div>

						Having trouble viewing this email? <webversion class="link-top" style="color:#2b9208; text-decoration:underline">View it in your browser</webversion>
						<div style="font-size:0pt; line-height:0pt; height:15px"><img src="images/empty.gif" width="1" height="15" style="height:15px" alt="" /></div>

					</td>
				</tr>
				<!-- END Top -->
				<!-- Header -->
				<tr>
					<td>
						<div class="img" style="font-size:0pt; line-height:0pt; text-align:left"><img src="images/header_top.jpg" alt="" border="0" width="624" height="12" /></div>
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="1" bgcolor="#dfdfdf"></td>
								<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="1" bgcolor="#c1c1c1"></td>
								<td bgcolor="#ffffff">
									<div style="font-size:0pt; line-height:0pt; height:6px"><img src="images/empty.gif" width="1" height="6" style="height:6px" alt="" /></div>

									<table width="100%" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="22"></td>
											<td class="img" style="font-size:0pt; line-height:0pt; text-align:left"><img src="images/logo.jpg" editable="true" alt="" border="0" width="80" height="23" /></td>
											<td align="right">
												<table border="0" cellspacing="0" cellpadding="0">
													<tr>
														<td class="header" style="color:#4a5461; font-family:Verdana; font-size:12px; line-height:16px; text-align:left">&rsaquo; <preferences class="link-header" style="color:#2b9208; text-decoration:none">Update Preferences</preferences></td>
														<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="18"></td>
														<td class="header" style="color:#4a5461; font-family:Verdana; font-size:12px; line-height:16px; text-align:left">&rsaquo; <forwardtoafriend class="link-header" style="color:#2b9208; text-decoration:none">Forward to a Friend</forwardtoafriend></td>
													</tr>
												</table>
											</td>
											<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="22"></td>
										</tr>
									</table>
									<div style="font-size:0pt; line-height:0pt; height:6px"><img src="images/empty.gif" width="1" height="6" style="height:6px" alt="" /></div>

								</td>
								<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="1" bgcolor="#c1c1c1"></td>
								<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="1" bgcolor="#dfdfdf"></td>
							</tr>
						</table>
						<div class="img" style="font-size:0pt; line-height:0pt; text-align:left"><img src="images/header_bottom.jpg" alt="" border="0" width="624" height="10" /></div>
					</td>
				</tr>
				<!-- END Header -->
				<!-- Content -->
				<tr>
					<td>
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="1" bgcolor="#dfdfdf"></td>
								<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="1" bgcolor="#c1c1c1"></td>
								<td bgcolor="#ffffff">
									<!-- Hero -->
									<div class="img" style="font-size:0pt; line-height:0pt; text-align:left">
										<img src="images/hero.jpg" editable="true" alt="" border="0" width="620" height="322" />
									</div>
									<div style="font-size:0pt; line-height:0pt; height:1px; background:#e0e0e0; "><img src="images/empty.gif" width="1" height="1" style="height:1px" alt="" /></div>

									<!-- END Hero -->
									<!-- Main Content -->
									<div class="img" style="font-size:0pt; line-height:0pt; text-align:left"><img src="images/content_top.jpg" alt="" border="0" width="620" height="20" /></div>
									<table width="100%" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="20"></td>
											<td>
												<div style="font-size:0pt; line-height:0pt; height:30px"><img src="images/empty.gif" width="1" height="30" style="height:30px" alt="" /></div>

												<repeater>
													<table width="100%" border="0" cellspacing="0" cellpadding="0">
														<tr>
															<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" valign="top" width="185"><img src="images/img1.jpg" editable="true" alt="" border="0" width="175" height="131" /></td>
															<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" valign="top" width="20"><img src="images/img_right_shadow.jpg" alt="" border="0" width="8" height="131" /></td>
															<td class="text" style="color:#a1a1a1; font-family:Verdana; font-size:12px; line-height:18px; text-align:left" valign="top">
																<div class="h2" style="color:#000000; font-family:Verdana; font-size:20px; line-height:24px; text-align:left; font-weight:normal">
																	<singleline>Lorem ipsum dolor</singleline>
																</div>
																<div style="font-size:0pt; line-height:0pt; height:5px"><img src="images/empty.gif" width="1" height="5" style="height:5px" alt="" /></div>

																<multiline>
																	Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismoLorem ipsum dolor sit amet, consectetuer adipiscing elit,reet dolore...
																	<br /><br />
																	<a href="#" class="link-u" style="color:#2b9208; text-decoration:underline" target="_blank"><span class="link-u" style="color:#2b9208; text-decoration:underline">Read More</span></a>
																</multiline>
															</td>
														</tr>
													</table>
													<div style="font-size:0pt; line-height:0pt; height:30px"><img src="images/empty.gif" width="1" height="30" style="height:30px" alt="" /></div>

													<div class="img" style="font-size:0pt; line-height:0pt; text-align:left"><img src="images/separator.jpg" alt="" border="0" width="581" height="1" /></div>
													<div style="font-size:0pt; line-height:0pt; height:30px"><img src="images/empty.gif" width="1" height="30" style="height:30px" alt="" /></div>

												</repeater>

												<repeater>
													<table width="100%" border="0" cellspacing="0" cellpadding="0">
														<tr>
															<td class="text" style="color:#a1a1a1; font-family:Verdana; font-size:12px; line-height:18px; text-align:left" valign="top">
																<div class="h2" style="color:#000000; font-family:Verdana; font-size:20px; line-height:24px; text-align:left; font-weight:normal">
																	<singleline>Lorem ipsum dolor</singleline>
																</div>
																<div style="font-size:0pt; line-height:0pt; height:5px"><img src="images/empty.gif" width="1" height="5" style="height:5px" alt="" /></div>

																<multiline>
																	Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismoLorem ipsum dolor sit amet, consectetuer adipiscing elit,reet dolore...
																	<br /><br />
																	<a href="#" class="link-u" style="color:#2b9208; text-decoration:underline" target="_blank"><span class="link-u" style="color:#2b9208; text-decoration:underline">Read More</span></a>
																</multiline>
															</td>
															<td class="img-right" style="font-size:0pt; line-height:0pt; text-align:right" valign="top" width="20"><img src="images/img_left_shadow.jpg" alt="" border="0" width="8" height="133" /></td>
															<td class="img-right" style="font-size:0pt; line-height:0pt; text-align:right" valign="top" width="185"><img src="images/img2.jpg" editable="true" alt="" border="0" width="175" height="131" /></td>
														</tr>
													</table>
													<div style="font-size:0pt; line-height:0pt; height:30px"><img src="images/empty.gif" width="1" height="30" style="height:30px" alt="" /></div>

													<div class="img" style="font-size:0pt; line-height:0pt; text-align:left"><img src="images/separator.jpg" alt="" border="0" width="581" height="1" /></div>
													<div style="font-size:0pt; line-height:0pt; height:30px"><img src="images/empty.gif" width="1" height="30" style="height:30px" alt="" /></div>

												</repeater>

												<repeater>
													<table width="100%" border="0" cellspacing="0" cellpadding="0">
														<tr>
															<td valign="top" width="170" class="text" style="color:#a1a1a1; font-family:Verdana; font-size:12px; line-height:18px; text-align:left">
																<div class="img" style="font-size:0pt; line-height:0pt; text-align:left"><img src="images/img3.jpg" editable="true" alt="" border="0" width="170" height="128" /></div>
																<div class="img" style="font-size:0pt; line-height:0pt; text-align:left"><img src="images/img_bottom_shadow.jpg" alt="" border="0" width="170" height="17" /></div>
																<div style="font-size:0pt; line-height:0pt; height:20px"><img src="images/empty.gif" width="1" height="20" style="height:20px" alt="" /></div>


																<div class="h2" style="color:#000000; font-family:Verdana; font-size:20px; line-height:24px; text-align:left; font-weight:normal"><singleline>Interface </singleline></div>
																<div style="font-size:0pt; line-height:0pt; height:15px"><img src="images/empty.gif" width="1" height="15" style="height:15px" alt="" /></div>


																<multiline>
																	Epsum factorial non deposit quid pro quo hic escorol.<br /><br /> <a href="#" target="_blank" class="link-u" style="color:#2b9208; text-decoration:underline"><span class="link-u" style="color:#2b9208; text-decoration:underline">Read More</span></a>
																</multiline>
															</td>
															<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="35"></td>
															<td valign="top" width="170" class="text" style="color:#a1a1a1; font-family:Verdana; font-size:12px; line-height:18px; text-align:left">
																<div class="img" style="font-size:0pt; line-height:0pt; text-align:left"><img src="images/img4.jpg" editable="true" alt="" border="0" width="170" height="128" /></div>
																<div class="img" style="font-size:0pt; line-height:0pt; text-align:left"><img src="images/img_bottom_shadow.jpg" alt="" border="0" width="170" height="17" /></div>
																<div style="font-size:0pt; line-height:0pt; height:20px"><img src="images/empty.gif" width="1" height="20" style="height:20px" alt="" /></div>


																<div class="h2" style="color:#000000; font-family:Verdana; font-size:20px; line-height:24px; text-align:left; font-weight:normal"><singleline>Illustartions</singleline></div>
																<div style="font-size:0pt; line-height:0pt; height:15px"><img src="images/empty.gif" width="1" height="15" style="height:15px" alt="" /></div>


																<multiline>
																	Epsum factorial non deposit quid pro quo hic escorol.<br /><br /> <a href="#" target="_blank" class="link-u" style="color:#2b9208; text-decoration:underline"><span class="link-u" style="color:#2b9208; text-decoration:underline">Read More</span></a>
																</multiline>
															</td>
															<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="35"></td>
															<td valign="top" width="170" class="text" style="color:#a1a1a1; font-family:Verdana; font-size:12px; line-height:18px; text-align:left">
																<div class="img" style="font-size:0pt; line-height:0pt; text-align:left"><img src="images/img5.jpg" editable="true" alt="" border="0" width="170" height="128" /></div>
																<div class="img" style="font-size:0pt; line-height:0pt; text-align:left"><img src="images/img_bottom_shadow.jpg" alt="" border="0" width="170" height="17" /></div>
																<div style="font-size:0pt; line-height:0pt; height:20px"><img src="images/empty.gif" width="1" height="20" style="height:20px" alt="" /></div>


																<div class="h2" style="color:#000000; font-family:Verdana; font-size:20px; line-height:24px; text-align:left; font-weight:normal"><singleline>Identity</singleline></div>
																<div style="font-size:0pt; line-height:0pt; height:15px"><img src="images/empty.gif" width="1" height="15" style="height:15px" alt="" /></div>


																<multiline>
																	Epsum factorial non deposit quid pro quo hic escorol.<br /><br /> <a href="#" target="_blank" class="link-u" style="color:#2b9208; text-decoration:underline"><span class="link-u" style="color:#2b9208; text-decoration:underline">Read More</span></a>
																</multiline>
															</td>
														</tr>
													</table>
													<div style="font-size:0pt; line-height:0pt; height:25px"><img src="images/empty.gif" width="1" height="25" style="height:25px" alt="" /></div>

												</repeater>
											</td>
											<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="20"></td>
										</tr>
									</table>
									<div class="img" style="font-size:0pt; line-height:0pt; text-align:left"><img src="images/content_bottom.jpg" alt="" border="0" width="620" height="20" /></div>
									<!-- END Main Content -->

								</td>
								<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="1" bgcolor="#c1c1c1"></td>
								<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="1" bgcolor="#dfdfdf"></td>
							</tr>
						</table>
					</td>
				</tr>
				<!-- END Content -->
				<!-- Footer -->
				<tr>
					<td>
						<div class="img" style="font-size:0pt; line-height:0pt; text-align:left"><img src="images/footer_top.jpg" alt="" border="0" width="624" height="16" /></div>
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="1" bgcolor="#dfdfdf"></td>
								<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="1" bgcolor="#c1c1c1"></td>
								<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="1" bgcolor="#3a8b23"></td>
								<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="1" bgcolor="#429e28"></td>
								<td bgcolor="#46a72a">
									<table width="100%" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="15"></td>
											<td class="img" style="font-size:0pt; line-height:0pt; text-align:left"><img src="images/footer_logo.jpg" editable="true" alt="" border="0" width="68" height="19" /></td>
											<td align="right">
												<table border="0" cellspacing="0" cellpadding="0">
													<tr>
														<td class="img" style="font-size:0pt; line-height:0pt; text-align:left"><img src="images/flickr.jpg" editable="true" alt="" border="0" width="31" height="34" /></td>
														<td class="img" style="font-size:0pt; line-height:0pt; text-align:left"><img src="images/twitter.jpg" editable="true" alt="" border="0" width="31" height="34" /></td>
														<td class="img" style="font-size:0pt; line-height:0pt; text-align:left"><img src="images/facebook.jpg" editable="true" alt="" border="0" width="31" height="34" /></td>
														<td class="img" style="font-size:0pt; line-height:0pt; text-align:left"><img src="images/behance.jpg" editable="true" alt="" border="0" width="31" height="34" /></td>
													</tr>
												</table>
											</td>
											<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="15"></td>
										</tr>
									</table>
									<div style="font-size:0pt; line-height:0pt; height:10px"><img src="images/empty.gif" width="1" height="10" style="height:10px" alt="" /></div>

								</td>
								<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="1" bgcolor="#429e28"></td>
								<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="1" bgcolor="#3a8b23"></td>
								<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="1" bgcolor="#c1c1c1"></td>
								<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="1" bgcolor="#dfdfdf"></td>
							</tr>
						</table>
						<div class="img" style="font-size:0pt; line-height:0pt; text-align:left"><img src="images/footer_bottom.jpg" alt="" border="0" width="624" height="28" /></div>
					</td>
				</tr>
				<!-- END Footer -->
				<!-- Bottom -->
				<tr>
					<td class="bottom" style="color:#7b828b; font-family:Verdana; font-size:11px; line-height:20px; text-align:center">
						<multiline>East Pixel Bld. 99, Creative City 9000, Republic of Design www.YourSiteName.com <span>[email]</span></multiline>
						Copyright &copy; <currentyear> <singleline>Company Name</singleline>.  <unsubscribe class="link2-u" style="color:#7b828b; text-decoration:underline">Unsubscribe</unsubscribe>
						<div style="font-size:0pt; line-height:0pt; height:50px"><img src="images/empty.gif" width="1" height="50" style="height:50px" alt="" /></div>

					</td>
				</tr>
				<!-- END Bottom -->
			</table>
		</td>
	</tr>
</table>

</body>
</html>
