<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<meta content="telephone=no" name="format-detection" />
	<title>Email Template</title>
	

	<style type="text/css" media="screen">
		/* Linked Styles */
		body { padding:0 !important; margin:0 !important; display:block !important; background:#ffffff; -webkit-text-size-adjust:none }
		a { color:#00b8e4; text-decoration:underline }
		h3 a { color:#1f1f1f; text-decoration:none }
		.text2 a { color:#ea4261; text-decoration:none }


		/* Campaign Monitor wraps the text in editor in paragraphs. In order to preserve design spacing we remove the padding/margin */
		p { padding:0 !important; margin:0 !important } 
	</style>
</head>
<body class="body" style="padding:0 !important; margin:0 !important; display:block !important; background:#ffffff; -webkit-text-size-adjust:none">

<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
	<tr>
		<td align="center" valign="top">
			<table width="800" border="0" cellspacing="0" cellpadding="0">
				<!-- Header -->
				<tr>
					<td align="center" bgcolor="#1f1f1f">
						<table width="620" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td class="img" style="font-size:0pt; line-height:0pt; text-align:left"><img src="images/logo.jpg" mc:edit="image_1" mc:allowdesigner mc:allowtext alt="" border="0" width="71" style="max-width:71px" height="52" /></td>
								<td align="right">
									<table border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="13"><img src="images/bullet.jpg" alt="" border="0" width="8" height="5" /></td>
											<td class="top" style="color:#ea4261; font-family:Tahoma; font-size:12px; line-height:18px; text-align:left"><a class="link-top" style="color:#ea4261; text-decoration:underline" target="_blank" href="*|ARCHIVE|*">View Online</a></td>
											<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="10"></td>	
											<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="13"><img src="images/bullet.jpg" alt="" border="0" width="8" height="5" /></td>
											<td class="top" style="color:#ea4261; font-family:Tahoma; font-size:12px; line-height:18px; text-align:left"><a class="link-top" style="color:#ea4261; text-decoration:underline" target="_blank" href="*|FORWARD|*">Forward to a Friend</a></td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<!-- END Header -->
				<!-- Hero -->
				<tr>
					<td class="img" style="font-size:0pt; line-height:0pt; text-align:left">
						<img src="images/hero.jpg" mc:edit="image_2" mc:allowdesigner mc:allowtext alt="" border="0" width="800" style="max-width:800px" height="395" />
					</td>
				</tr>
				<!-- END Hero -->
				<!-- Content -->
				<tr>
					<td>
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="90"></td>
								<td>
									<div style="font-size:0pt; line-height:0pt; height:30px"><img src="images/empty.gif" width="1" height="30" style="height:30px" alt="" /></div>

									<div mc:repeatable>
										<div class="h2" style="color:#1f1f1f; font-family:Tahoma; font-size:20px; line-height:24px; text-align:center; font-weight:bold">
											<div mc:edit="title_1">Sit Consectetuer</div>
										</div>
										<div style="font-size:0pt; line-height:0pt; height:10px"><img src="images/empty.gif" width="1" height="10" style="height:10px" alt="" /></div>


										<div class="text-center" style="color:#868686; font-family:Tahoma; font-size:14px; line-height:18px; text-align:center">
											<div mc:edit="text_1">Ut wisi enim ad minim veniam, quis nostrud exerci tation<br /> ullamcorper suscipit lobortis nisl ut aliquip</div>
										</div>
										<div style="font-size:0pt; line-height:0pt; height:35px"><img src="images/empty.gif" width="1" height="35" style="height:35px" alt="" /></div>

									</div>

									<div mc:repeatable>
										<table width="100%" border="0" cellspacing="0" cellpadding="0">
											<tr>
												<td valign="top" width="130">
													<div class="img-center" style="font-size:0pt; line-height:0pt; text-align:center"><img src="images/img1.jpg" mc:edit="image_3" mc:allowdesigner mc:allowtext alt="" border="0" width="109" style="max-width:109px" height="109" /></div>
													<div style="font-size:0pt; line-height:0pt; height:30px"><img src="images/empty.gif" width="1" height="30" style="height:30px" alt="" /></div>


													<div class="h3" style="color:#1f1f1f; font-family:Tahoma; font-size:16px; line-height:20px; text-align:center; font-weight:normal">
														<div mc:edit="title_2">Lorem Ipsum</div>
													</div>
													<div style="font-size:0pt; line-height:0pt; height:15px"><img src="images/empty.gif" width="1" height="15" style="height:15px" alt="" /></div>


													<div class="text2-center" style="color:#bebebe; font-family:Tahoma; font-size:12px; line-height:18px; text-align:center">
														<div mc:edit="text_2">
															Lorem ipsum dolamet, consectetuer  elit, sed diam nonummy nibh euismo
														</div>
													</div>
												</td>
												<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="33"></td>
												<td valign="top" width="130">
													<div class="img-center" style="font-size:0pt; line-height:0pt; text-align:center"><img src="images/img2.jpg" mc:edit="image_4" mc:allowdesigner mc:allowtext alt="" border="0" width="109" style="max-width:109px" height="109" /></div>
													<div style="font-size:0pt; line-height:0pt; height:30px"><img src="images/empty.gif" width="1" height="30" style="height:30px" alt="" /></div>


													<div class="h3" style="color:#1f1f1f; font-family:Tahoma; font-size:16px; line-height:20px; text-align:center; font-weight:normal">
														<div mc:edit="title_3">Lorem Ipsum</div>
													</div>
													<div style="font-size:0pt; line-height:0pt; height:15px"><img src="images/empty.gif" width="1" height="15" style="height:15px" alt="" /></div>


													<div class="text2-center" style="color:#bebebe; font-family:Tahoma; font-size:12px; line-height:18px; text-align:center">
														<div mc:edit="text_3">
															Lorem ipsum dolamet, consectetuer  elit, sed diam nonummy nibh euismo
														</div>
													</div>
												</td>
												<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="33"></td>
												<td valign="top" width="130">
													<div class="img-center" style="font-size:0pt; line-height:0pt; text-align:center"><img src="images/img3.jpg" mc:edit="image_5" mc:allowdesigner mc:allowtext alt="" border="0" width="109" style="max-width:109px" height="109" /></div>
													<div style="font-size:0pt; line-height:0pt; height:30px"><img src="images/empty.gif" width="1" height="30" style="height:30px" alt="" /></div>


													<div class="h3" style="color:#1f1f1f; font-family:Tahoma; font-size:16px; line-height:20px; text-align:center; font-weight:normal">
														<div mc:edit="title_4">Lorem Ipsum</div>
													</div>
													<div style="font-size:0pt; line-height:0pt; height:15px"><img src="images/empty.gif" width="1" height="15" style="height:15px" alt="" /></div>


													<div class="text2-center" style="color:#bebebe; font-family:Tahoma; font-size:12px; line-height:18px; text-align:center">
														<div mc:edit="text_4">
															Lorem ipsum dolamet, consectetuer  elit, sed diam nonummy nibh euismo
														</div>
													</div>
												</td>
												<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="33"></td>
												<td valign="top" width="130">
													<div class="img-center" style="font-size:0pt; line-height:0pt; text-align:center"><img src="images/img4.jpg" mc:edit="image_6" mc:allowdesigner mc:allowtext alt="" border="0" width="109" style="max-width:109px" height="109" /></div>
													<div style="font-size:0pt; line-height:0pt; height:30px"><img src="images/empty.gif" width="1" height="30" style="height:30px" alt="" /></div>


													<div class="h3" style="color:#1f1f1f; font-family:Tahoma; font-size:16px; line-height:20px; text-align:center; font-weight:normal">
														<div mc:edit="title_5">Lorem Ipsum</div>
													</div>
													<div style="font-size:0pt; line-height:0pt; height:15px"><img src="images/empty.gif" width="1" height="15" style="height:15px" alt="" /></div>


													<div class="text2-center" style="color:#bebebe; font-family:Tahoma; font-size:12px; line-height:18px; text-align:center">
														<div mc:edit="text_5">
															Lorem ipsum dolamet, consectetuer  elit, sed diam nonummy nibh euismo
														</div>
													</div>
												</td>
											</tr>
										</table>
										<div style="font-size:0pt; line-height:0pt; height:10px"><img src="images/empty.gif" width="1" height="10" style="height:10px" alt="" /></div>

									</div>

									<div mc:repeatable>
										<div style="font-size:0pt; line-height:0pt; height:20px"><img src="images/empty.gif" width="1" height="20" style="height:20px" alt="" /></div>

										<div class="img" style="font-size:0pt; line-height:0pt; text-align:left"><img src="images/separator.jpg" mc:edit="image_7" mc:allowdesigner mc:allowtext alt="" border="0" width="620" style="max-width:620px" height="13" /></div>
										<div style="font-size:0pt; line-height:0pt; height:20px"><img src="images/empty.gif" width="1" height="20" style="height:20px" alt="" /></div>

									</div>

									<div mc:repeatable>
										<div class="h2" style="color:#1f1f1f; font-family:Tahoma; font-size:20px; line-height:24px; text-align:center; font-weight:bold">
											<div mc:edit="title_6">Nonummy Nibh</div>
										</div>
										<div style="font-size:0pt; line-height:0pt; height:10px"><img src="images/empty.gif" width="1" height="10" style="height:10px" alt="" /></div>

										<div class="text-center" style="color:#868686; font-family:Tahoma; font-size:14px; line-height:18px; text-align:center">
											<div mc:edit="text_6">
												Ut wisi enim ad minim veniam, quis nostrud exerci tation<br />
												ullamcorper suscipit lobortis nisl ut aliquip 
											</div>
										</div>
										<div style="font-size:0pt; line-height:0pt; height:35px"><img src="images/empty.gif" width="1" height="35" style="height:35px" alt="" /></div>

									</div>

									<div mc:repeatable>
										<table width="100%" border="0" cellspacing="0" cellpadding="0">
											<tr>
												<td valign="top" width="187">
													<table width="100%" border="0" cellspacing="0" cellpadding="1" bgcolor="#dedede">
														<tr>
															<td>
																<table width="100%" border="0" cellspacing="0" cellpadding="5" bgcolor="#ffffff">
																	<tr>
																		<td class="img" style="font-size:0pt; line-height:0pt; text-align:left"><img src="images/img5.jpg" mc:edit="image_8" mc:allowdesigner mc:allowtext alt="" border="0" width="175" style="max-width:175px" height="130" /></td>
																	</tr>
																</table>
															</td>
														</tr>
													</table>
													<div style="font-size:0pt; line-height:0pt; height:15px"><img src="images/empty.gif" width="1" height="15" style="height:15px" alt="" /></div>


													<div class="h3" style="color:#1f1f1f; font-family:Tahoma; font-size:16px; line-height:20px; text-align:center; font-weight:normal">
														<div mc:edit="title_7">Lorem Ipsum</div>
													</div>
													<div style="font-size:0pt; line-height:0pt; height:15px"><img src="images/empty.gif" width="1" height="15" style="height:15px" alt="" /></div>


													<div class="text2-center" style="color:#bebebe; font-family:Tahoma; font-size:12px; line-height:18px; text-align:center">
														<div mc:edit="text_7">
															Lorem ipsum dolamet, consectetuer  elit, sed diam nonummy nibh euismo<br /><br /> <a href="#" target="_blank" class="link4-u" style="color:#ea4261; text-decoration:underline"><span class="link4-u" style="color:#ea4261; text-decoration:underline">Read More</span></a>
														</div>
													</div>
												</td>
												<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="30"></td>
												<td valign="top" width="187">
													<table width="100%" border="0" cellspacing="0" cellpadding="1" bgcolor="#dedede">
														<tr>
															<td>
																<table width="100%" border="0" cellspacing="0" cellpadding="5" bgcolor="#ffffff">
																	<tr>
																		<td class="img" style="font-size:0pt; line-height:0pt; text-align:left"><img src="images/img6.jpg" mc:edit="image_9" mc:allowdesigner mc:allowtext alt="" border="0" width="175" style="max-width:175px" height="130" /></td>
																	</tr>
																</table>
															</td>
														</tr>
													</table>
													<div style="font-size:0pt; line-height:0pt; height:15px"><img src="images/empty.gif" width="1" height="15" style="height:15px" alt="" /></div>


													<div class="h3" style="color:#1f1f1f; font-family:Tahoma; font-size:16px; line-height:20px; text-align:center; font-weight:normal">
														<div mc:edit="title_8">Lorem Ipsum</div>
													</div>
													<div style="font-size:0pt; line-height:0pt; height:15px"><img src="images/empty.gif" width="1" height="15" style="height:15px" alt="" /></div>


													<div class="text2-center" style="color:#bebebe; font-family:Tahoma; font-size:12px; line-height:18px; text-align:center">
														<div mc:edit="text_8">
															Lorem ipsum dolamet, consectetuer  elit, sed diam nonummy nibh euismo<br /><br /> <a href="#" target="_blank" class="link4-u" style="color:#ea4261; text-decoration:underline"><span class="link4-u" style="color:#ea4261; text-decoration:underline">Read More</span></a>
														</div>
													</div>
												</td>
												<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="30"></td>
												<td valign="top" width="187">
													<table width="100%" border="0" cellspacing="0" cellpadding="1" bgcolor="#dedede">
														<tr>
															<td>
																<table width="100%" border="0" cellspacing="0" cellpadding="5" bgcolor="#ffffff">
																	<tr>
																		<td class="img" style="font-size:0pt; line-height:0pt; text-align:left"><img src="images/img7.jpg" mc:edit="image_10" mc:allowdesigner mc:allowtext alt="" border="0" width="175" style="max-width:175px" height="130" /></td>
																	</tr>
																</table>
															</td>
														</tr>
													</table>
													<div style="font-size:0pt; line-height:0pt; height:15px"><img src="images/empty.gif" width="1" height="15" style="height:15px" alt="" /></div>


													<div class="h3" style="color:#1f1f1f; font-family:Tahoma; font-size:16px; line-height:20px; text-align:center; font-weight:normal">
														<div mc:edit="title_9">Lorem Ipsum</div>
													</div>
													<div style="font-size:0pt; line-height:0pt; height:15px"><img src="images/empty.gif" width="1" height="15" style="height:15px" alt="" /></div>


													<div class="text2-center" style="color:#bebebe; font-family:Tahoma; font-size:12px; line-height:18px; text-align:center">
														<div mc:edit="text_9">
															Lorem ipsum dolamet, consectetuer  elit, sed diam nonummy nibh euismo<br /><br /> <a href="#" target="_blank" class="link4-u" style="color:#ea4261; text-decoration:underline"><span class="link4-u" style="color:#ea4261; text-decoration:underline">Read More</span></a>
														</div>
													</div>
												</td>
											</tr>
										</table>
										<div style="font-size:0pt; line-height:0pt; height:35px"><img src="images/empty.gif" width="1" height="35" style="height:35px" alt="" /></div>

									</div>
								</td>
								<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="90"></td>
							</tr>
						</table>
					</td>
				</tr>
				<!-- END Content -->
				<!-- Footer -->
				<tr>
					<td>
						<div class="img" style="font-size:0pt; line-height:0pt; text-align:left"><img src="images/footer_top.jpg" alt="" border="0" width="800" height="10" /></div>
						<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#eeefec">
							<tr>
								<td>
									<div style="font-size:0pt; line-height:0pt; height:12px"><img src="images/empty.gif" width="1" height="12" style="height:12px" alt="" /></div>

									<table width="100%" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td align="center">
												<table border="0" cellspacing="0" cellpadding="0">
													<tr>
														<td class="img" style="font-size:0pt; line-height:0pt; text-align:left"><img src="images/facebook.jpg" mc:edit="image_11" mc:allowdesigner mc:allowtext alt="" border="0" width="43" style="max-width:43px" height="43" /></td>
														<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="7"></td>
														<td class="img" style="font-size:0pt; line-height:0pt; text-align:left"><img src="images/twitter.jpg" mc:edit="image_12" mc:allowdesigner mc:allowtext alt="" border="0" width="43" style="max-width:43px" height="43" /></td>
														<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="7"></td>
														<td class="img" style="font-size:0pt; line-height:0pt; text-align:left"><img src="images/behance.jpg" mc:edit="image_13" mc:allowdesigner mc:allowtext alt="" border="0" width="43" style="max-width:43px" height="43" /></td>
														<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="7"></td>
														<td class="img" style="font-size:0pt; line-height:0pt; text-align:left"><img src="images/dribble.jpg" mc:edit="image_14" mc:allowdesigner mc:allowtext alt="" border="0" width="43" style="max-width:43px" height="43" /></td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
									<div style="font-size:0pt; line-height:0pt; height:30px"><img src="images/empty.gif" width="1" height="30" style="height:30px" alt="" /></div>

									<div class="footer" style="color:#a9aaa9; font-family:Arial; font-size:11px; line-height:20px; text-align:center">
										<div mc:edit="text_10">
											East Pixel Bld. 99, Creative City 9000, Republic of Design www.YourSiteName.com email@sitename.com<br />
											Copyright &copy; <span>*|CURRENT_YEAR|*</span> <span>*|LIST:COMPANY|*</span>.
										</div>
										<a class="link5-u" style="color:#a9aaa9; text-decoration:underline" target="_blank" href="*|UNSUB|*">Unsubscribe</a>
									</div>
									<div style="font-size:0pt; line-height:0pt; height:25px"><img src="images/empty.gif" width="1" height="25" style="height:25px" alt="" /></div>

								</td>
							</tr>
						</table>
					</td>
				</tr>
				<!-- END Footer -->
			</table>
		</td>
	</tr>
</table>

</body>
</html>
