<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<meta content="telephone=no" name="format-detection" />
	<title>Email Template</title>
	

	<style type="text/css" media="screen">
		/* Linked Styles */
		body { padding:0 !important; margin:0 !important; display:block !important; background:#ffffff; -webkit-text-size-adjust:none }
		a { color:#00b8e4; text-decoration:underline }
		
		/* Campaign Monitor wraps the text in editor in paragraphs. In order to preserve design spacing we remove the padding/margin */
		p { padding:0 !important; margin:0 !important } 
	</style>
</head>
<body class="body" style="padding:0 !important; margin:0 !important; display:block !important; background:#ffffff; -webkit-text-size-adjust:none">

<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
	<tr>
		<td align="center" valign="top">
			<table width="620" border="0" cellspacing="0" cellpadding="0">
				<!-- Header -->
				<tr>
					<td>
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td class="date" style="color:#969595; font-family:'Trebuchet MS'; font-size:16px; line-height:20px; text-align:left; font-weight:bold" width="215" valign="top">
									<div style="font-size:0pt; line-height:0pt; height:37px"><img src="images/empty.gif" width="1" height="37" style="height:37px" alt="" /></div>

									<currentmonthname> <currentday>
								</td>
								<td class="img" style="font-size:0pt; line-height:0pt; text-align:left">
									<img src="images/logo.jpg" editable="true" alt="" border="0" width="195" height="65" />
								</td>
								<td align="right" width="210" valign="top">
									<div style="font-size:0pt; line-height:0pt; height:39px"><img src="images/empty.gif" width="1" height="39" style="height:39px" alt="" /></div>

									<table border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="10"><img src="images/bullet.jpg" alt="" border="0" width="4" height="5" /></td>
											<td class="top" style="color:#797a7b; font-family:Arial; font-size:11px; line-height:16px; text-align:left"><webversion class="link-top" style="color:#969595; text-decoration:underline">View Online</webversion></td>
											<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="15"></td>
											<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="10"><img src="images/bullet.jpg" alt="" border="0" width="4" height="5" /></td>
											<td class="top" style="color:#797a7b; font-family:Arial; font-size:11px; line-height:16px; text-align:left"><forwardtoafriend class="link-top" style="color:#969595; text-decoration:underline">Forward to a Friend</forwardtoafriend></td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
						<div style="font-size:0pt; line-height:0pt; height:15px"><img src="images/empty.gif" width="1" height="15" style="height:15px" alt="" /></div>

					</td>
				</tr>
				<!-- END Header -->
				<!-- Hero -->
				<tr>
					<td class="img" style="font-size:0pt; line-height:0pt; text-align:left">
						<img src="images/hero.jpg" editable="true" alt="" border="0" width="620" height="380" />
						<div style="font-size:0pt; line-height:0pt; height:25px"><img src="images/empty.gif" width="1" height="25" style="height:25px" alt="" /></div>

					</td>
				</tr>
				<!-- END Hero -->
				<!-- Content -->
				<tr>
					<td>
						<repeater>
							<!-- Three Columns -->
							<table width="100%" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td valign="top" width="188">
										<div class="img" style="font-size:0pt; line-height:0pt; text-align:left">
											<img src="images/img1.jpg" editable="true" alt="" border="0" width="188" height="177" />
										</div>
										<div style="font-size:0pt; line-height:0pt; height:30px"><img src="images/empty.gif" width="1" height="30" style="height:30px" alt="" /></div>


										<table width="100%" border="0" cellspacing="0" cellpadding="0">
											<tr>
												<td align="center">
													<table border="0" cellspacing="0" cellpadding="0">
														<tr>
															<td>
																<div class="h3" style="color:#8c8c8c; font-family:Verdana; font-size:14px; line-height:18px; text-align:center; font-weight:normal">
																	<singleline>Adipiscing Elit</singleline>
																</div>
																<div style="font-size:0pt; line-height:0pt; height:10px"><img src="images/empty.gif" width="1" height="10" style="height:10px" alt="" /></div>

																<div style="font-size:0pt; line-height:0pt; height:1px; background:#e4e4e4; "><img src="images/empty.gif" width="1" height="1" style="height:1px" alt="" /></div>

																<div style="font-size:0pt; line-height:0pt; height:10px"><img src="images/empty.gif" width="1" height="10" style="height:10px" alt="" /></div>

															</td>
														</tr>
													</table>
												</td>
											</tr>
											<tr>
												<td>
													<table width="100%" border="0" cellspacing="0" cellpadding="0">
														<tr>
															<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="20"></td>
															<td class="text-center" style="color:#a7a7a7; font-family:Verdana; font-size:12px; line-height:16px; text-align:center">
																<multiline>
																	Li Europan lingues es membres del sam familie. Lor separat existentie es un myth.
																</multiline>
																<div style="font-size:0pt; line-height:0pt; height:15px"><img src="images/empty.gif" width="1" height="15" style="height:15px" alt="" /></div>

																<div class="img-center" style="font-size:0pt; line-height:0pt; text-align:center">
																	<img src="images/read_more.jpg" editable="true" alt="" border="0" width="93" height="39" />
																</div>
															</td>
															<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="20"></td>
														</tr>
													</table>
												</td>
											</tr>
										</table>
									</td>
									<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="28"></td>
									<td valign="top" width="188">
										<div class="img" style="font-size:0pt; line-height:0pt; text-align:left">
											<img src="images/img2.jpg" editable="true" alt="" border="0" width="188" height="177" />
										</div>
										<div style="font-size:0pt; line-height:0pt; height:30px"><img src="images/empty.gif" width="1" height="30" style="height:30px" alt="" /></div>


										<table width="100%" border="0" cellspacing="0" cellpadding="0">
											<tr>
												<td align="center">
													<table border="0" cellspacing="0" cellpadding="0">
														<tr>
															<td>
																<div class="h3" style="color:#8c8c8c; font-family:Verdana; font-size:14px; line-height:18px; text-align:center; font-weight:normal">
																	<singleline>Adipiscing Elit</singleline>
																</div>
																<div style="font-size:0pt; line-height:0pt; height:10px"><img src="images/empty.gif" width="1" height="10" style="height:10px" alt="" /></div>

																<div style="font-size:0pt; line-height:0pt; height:1px; background:#e4e4e4; "><img src="images/empty.gif" width="1" height="1" style="height:1px" alt="" /></div>

																<div style="font-size:0pt; line-height:0pt; height:10px"><img src="images/empty.gif" width="1" height="10" style="height:10px" alt="" /></div>

															</td>
														</tr>
													</table>
												</td>
											</tr>
											<tr>
												<td>
													<table width="100%" border="0" cellspacing="0" cellpadding="0">
														<tr>
															<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="20"></td>
															<td class="text-center" style="color:#a7a7a7; font-family:Verdana; font-size:12px; line-height:16px; text-align:center">
																<multiline>
																	Li Europan lingues es membres del sam familie. Lor separat existentie es un myth.
																</multiline>
																<div style="font-size:0pt; line-height:0pt; height:15px"><img src="images/empty.gif" width="1" height="15" style="height:15px" alt="" /></div>

																<div class="img-center" style="font-size:0pt; line-height:0pt; text-align:center">
																	<img src="images/read_more.jpg" editable="true" alt="" border="0" width="93" height="39" />
																</div>
															</td>
															<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="20"></td>
														</tr>
													</table>
												</td>
											</tr>
										</table>
									</td>
									<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="28"></td>
									<td valign="top" width="188">
										<div class="img" style="font-size:0pt; line-height:0pt; text-align:left">
											<img src="images/img3.jpg" editable="true" alt="" border="0" width="188" height="177" />
										</div>
										<div style="font-size:0pt; line-height:0pt; height:30px"><img src="images/empty.gif" width="1" height="30" style="height:30px" alt="" /></div>


										<table width="100%" border="0" cellspacing="0" cellpadding="0">
											<tr>
												<td align="center">
													<table border="0" cellspacing="0" cellpadding="0">
														<tr>
															<td>
																<div class="h3" style="color:#8c8c8c; font-family:Verdana; font-size:14px; line-height:18px; text-align:center; font-weight:normal">
																	<singleline>Adipiscing Elit</singleline>
																</div>
																<div style="font-size:0pt; line-height:0pt; height:10px"><img src="images/empty.gif" width="1" height="10" style="height:10px" alt="" /></div>

																<div style="font-size:0pt; line-height:0pt; height:1px; background:#e4e4e4; "><img src="images/empty.gif" width="1" height="1" style="height:1px" alt="" /></div>

																<div style="font-size:0pt; line-height:0pt; height:10px"><img src="images/empty.gif" width="1" height="10" style="height:10px" alt="" /></div>

															</td>
														</tr>
													</table>
												</td>
											</tr>
											<tr>
												<td>
													<table width="100%" border="0" cellspacing="0" cellpadding="0">
														<tr>
															<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="20"></td>
															<td class="text-center" style="color:#a7a7a7; font-family:Verdana; font-size:12px; line-height:16px; text-align:center">
																<multiline>
																	Li Europan lingues es membres del sam familie. Lor separat existentie es un myth.
																</multiline>
																<div style="font-size:0pt; line-height:0pt; height:15px"><img src="images/empty.gif" width="1" height="15" style="height:15px" alt="" /></div>

																<div class="img-center" style="font-size:0pt; line-height:0pt; text-align:center">
																	<img src="images/read_more.jpg" editable="true" alt="" border="0" width="93" height="39" />
																</div>
															</td>
															<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="20"></td>
														</tr>
													</table>
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
							<!-- END Three Columns -->
							<div style="font-size:0pt; line-height:0pt; height:45px"><img src="images/empty.gif" width="1" height="45" style="height:45px" alt="" /></div>

						</repeater>

						<repeater>
							<!-- Testimonials -->
							<div class="img" style="font-size:0pt; line-height:0pt; text-align:left"><img src="images/separator1.jpg" alt="" border="0" width="620" height="15" /></div>
							<div style="font-size:0pt; line-height:0pt; height:35px"><img src="images/empty.gif" width="1" height="35" style="height:35px" alt="" /></div>

							<div class="h2-center" style="color:#8c8c8c; font-family:Verdana; font-size:25px; line-height:29px; text-align:center; font-weight:normal">
								<singleline>What our clients say!</singleline>
							</div>
							<div style="font-size:0pt; line-height:0pt; height:10px"><img src="images/empty.gif" width="1" height="10" style="height:10px" alt="" /></div>

							<div class="text-center" style="color:#a7a7a7; font-family:Verdana; font-size:12px; line-height:16px; text-align:center">
								<multiline>
									Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo <a href="#" target="_blank" class="link-u" style="color:#00b8e4; text-decoration:underline"><span class="link-u" style="color:#00b8e4; text-decoration:underline">continue</span></a>. 
								</multiline>
							</div>
							<div style="font-size:0pt; line-height:0pt; height:45px"><img src="images/empty.gif" width="1" height="45" style="height:45px" alt="" /></div>

							<div class="img" style="font-size:0pt; line-height:0pt; text-align:left"><img src="images/separator2.jpg" alt="" border="0" width="620" height="15" /></div>
							<!-- END Testimonials -->
							<div style="font-size:0pt; line-height:0pt; height:20px"><img src="images/empty.gif" width="1" height="20" style="height:20px" alt="" /></div>

						</repeater>

						<repeater>
							<!-- List Thumbs -->
							<div class="h2-center" style="color:#8c8c8c; font-family:Verdana; font-size:25px; line-height:29px; text-align:center; font-weight:normal">
								<singleline>6 Brand New Products</singleline>
							</div>
							<div style="font-size:0pt; line-height:0pt; height:20px"><img src="images/empty.gif" width="1" height="20" style="height:20px" alt="" /></div>


							<table width="100%" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td valign="top" width="195">
										<div class="img" style="font-size:0pt; line-height:0pt; text-align:left"><img src="images/img4.jpg" editable="true" alt="" border="0" width="195" height="155" /></div>
										<div class="caption" style="color:#00b8e4; font-family:Verdana; font-size:11px; line-height:15px; text-align:center">
											<multiline>
												<a href="#" target="_blank" class="link" style="color:#00b8e4; text-decoration:none"><span class="link" style="color:#00b8e4; text-decoration:none">Duis autem / Vel eum</span></a>
											</multiline>
										</div>
									</td>
									<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="18"></td>
									<td valign="top" width="195">
										<div class="img" style="font-size:0pt; line-height:0pt; text-align:left"><img src="images/img5.jpg" editable="true" alt="" border="0" width="195" height="155" /></div>
										<div class="caption" style="color:#00b8e4; font-family:Verdana; font-size:11px; line-height:15px; text-align:center">
											<multiline>
												<a href="#" target="_blank" class="link" style="color:#00b8e4; text-decoration:none"><span class="link" style="color:#00b8e4; text-decoration:none">Duis autem / Vel eum</span></a>
											</multiline>
										</div>
									</td>
									<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="18"></td>
									<td valign="top" width="195">
										<div class="img" style="font-size:0pt; line-height:0pt; text-align:left"><img src="images/img6.jpg" editable="true" alt="" border="0" width="195" height="155" /></div>
										<div class="caption" style="color:#00b8e4; font-family:Verdana; font-size:11px; line-height:15px; text-align:center">
											<multiline>
												<a href="#" target="_blank" class="link" style="color:#00b8e4; text-decoration:none"><span class="link" style="color:#00b8e4; text-decoration:none">Duis autem / Vel eum</span></a>
											</multiline>
										</div>
									</td>
								</tr>
							</table>
							<div style="font-size:0pt; line-height:0pt; height:20px"><img src="images/empty.gif" width="1" height="20" style="height:20px" alt="" /></div>


							<table width="100%" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td valign="top" width="195">
										<div class="img" style="font-size:0pt; line-height:0pt; text-align:left"><img src="images/img7.jpg" editable="true" alt="" border="0" width="195" height="155" /></div>
										<div class="caption" style="color:#00b8e4; font-family:Verdana; font-size:11px; line-height:15px; text-align:center">
											<multiline>
												<a href="#" target="_blank" class="link" style="color:#00b8e4; text-decoration:none"><span class="link" style="color:#00b8e4; text-decoration:none">Duis autem / Vel eum</span></a>
											</multiline>
										</div>
									</td>
									<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="18"></td>
									<td valign="top" width="195">
										<div class="img" style="font-size:0pt; line-height:0pt; text-align:left"><img src="images/img8.jpg" editable="true" alt="" border="0" width="195" height="155" /></div>
										<div class="caption" style="color:#00b8e4; font-family:Verdana; font-size:11px; line-height:15px; text-align:center">
											<multiline>
												<a href="#" target="_blank" class="link" style="color:#00b8e4; text-decoration:none"><span class="link" style="color:#00b8e4; text-decoration:none">Duis autem / Vel eum</span></a>
											</multiline>
										</div>
									</td>
									<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="18"></td>
									<td valign="top" width="195">
										<div class="img" style="font-size:0pt; line-height:0pt; text-align:left"><img src="images/img9.jpg" editable="true" alt="" border="0" width="195" height="155" /></div>
										<div class="caption" style="color:#00b8e4; font-family:Verdana; font-size:11px; line-height:15px; text-align:center">
											<multiline>
												<a href="#" target="_blank" class="link" style="color:#00b8e4; text-decoration:none"><span class="link" style="color:#00b8e4; text-decoration:none">Duis autem / Vel eum</span></a>
											</multiline>
										</div>
									</td>
								</tr>
							</table>
							<div style="font-size:0pt; line-height:0pt; height:40px"><img src="images/empty.gif" width="1" height="40" style="height:40px" alt="" /></div>

							<!-- END List Thumbs -->
						</repeater>
					</td>
				</tr>
				<!-- END Content -->
				<!-- Footer -->
				<tr>
					<td>
						<div class="img" style="font-size:0pt; line-height:0pt; text-align:left"><img src="images/footer_top.jpg" alt="" border="0" width="620" height="19" /></div>
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td align="center">
									<table border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td class="img" style="font-size:0pt; line-height:0pt; text-align:left"><img src="images/facebook.jpg" editable="true" alt="" border="0" width="42" height="42" /></td>
											<td class="img" style="font-size:0pt; line-height:0pt; text-align:left"><img src="images/twitter.jpg" editable="true" alt="" border="0" width="42" height="42" /></td>
											<td class="img" style="font-size:0pt; line-height:0pt; text-align:left"><img src="images/behance.jpg" editable="true" alt="" border="0" width="42" height="42" /></td>
											<td class="img" style="font-size:0pt; line-height:0pt; text-align:left"><img src="images/flickr.jpg" editable="true" alt="" border="0" width="42" height="42" /></td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
						<div style="font-size:0pt; line-height:0pt; height:12px"><img src="images/empty.gif" width="1" height="12" style="height:12px" alt="" /></div>


						<div class="footer" style="color:#a7a7a7; font-family:Arial; font-size:11px; line-height:20px; text-align:center">
							<multiline>
								East Pixel Bld. 99, Creative City 9000, Republic of Design www.YourSiteName.com email@sitename.com
								<br />

								Copyright &copy; 2013 <span>Company Name</span>.
							</multiline>
							<unsubscribe class="link2-u" style="color:#a7a7a7; text-decoration:underline">Unsubscribe</unsubscribe>
							<div style="font-size:0pt; line-height:0pt; height:30px"><img src="images/empty.gif" width="1" height="30" style="height:30px" alt="" /></div>

						</div>
						<div class="img" style="font-size:0pt; line-height:0pt; text-align:left"><img src="images/footer_bottom.jpg" alt="" border="0" width="620" height="31" /></div>
					</td>
				</tr>
				<!-- EMD Footer -->
			</table>
		</td>
	</tr>
</table>

</body>
</html>
